    body {
      margin-top: 1.0em;
      background-color: #444;
      font-family: Helvetica, Arial, FreeSans, san-serif;
      color: #ffffff;
    }
    #container {
      margin: 0 auto;
      width: 700px;
    }
    h1 { font-size: 3.8em; color: #bbbbbb; margin-bottom: 3px; }
    h1 .small { font-size: 0.4em; }
    h1 a { text-decoration: none }
    h2 { font-size: 1.5em; color: #bbbbbb; }
    h3 { text-align: center; color: #bbbbbb; }
    a { color: #bbbbbb; }
    .description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
    .download { float: right; }
    pre { background: #000; color: #fff; padding: 15px;}
    hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
    .footer { text-align:center; padding-top:30px; font-style: italic; }

#simple-header{ background: #fff; }
#simple-header ul.menu li a { color: #000; }
h1 {background: #ffffff; padding: 6px 10%; }
h1 img {position: relative; top: 50px;}

@-webkit-keyframes leftright {
          from {
                  background-position: 0% 0;
                    }
            to {
                    background-position: 200% 0;
                      }
    }
#hamhei {
    width: 144px;
    background-image: url("http://dl.dropbox.com/u/3431516/hamfarm/images/ham_ham.png");
    height: 144px;
    -webkit-animation-name: leftright;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: steps(2, end); 
    -webkit-animation-iteration-count: infinite;
}

    @-moz-keyframes leftright {
          from {
                  background-position: 0% 0%;
                    }
            to {
                    background-position: 200% 0%;
                      }
    }
#hamhei {
    -moz-animation-name: leftright;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: steps(2, end); 
    -moz-animation-iteration-count: infinite;
}
